.carta-box {
  margin: 50px;
  width: 200px;
  height: 400px;
  position: relative;
  perspective: 1000px;
  display: inline-block;
}

.carta-box:hover .carta {
    transform: rotateY(180deg);
}

.carta {
  transform-style: preserve-3d;
  transition: all 0.5s linear;
  //width: fit-content;
  //height: fit-content;
 
}

.cara {
  position: absolute;
  backface-visibility: hidden;
  border: 1px solid  #687284;
  border-radius: 15px;
  height: 400px;
}

.caratitulo {
    margin-top: 15%;
    margin-left: 25%;
    color: #686e99

}
.cara.detras {
  transform: rotateY(180deg);
   border: 1px solid  #687284;
   border-radius: 15px;
   width: fit-content;
   height: fit-content;
}

.titulo {
    margin: auto;
    color:  #687284;
    padding: 25px;
    padding-left: 25%;
}
.titulocarta {
    //margin-left: 25%;
    color:  #697F45;
    height: fit-content;
    width: fit-content;
}
.cartaimg {
    height: 200px;
    width: 250px;
    display: block;
    object-fit: cover;
    border-radius: 15px;
}