.titmerc{
    display: flex !important;
    margin-top: 15px;
    margin-bottom: 5px;
    justify-content: center;
    
}

.titmerc h2{
   float: left !important;
   margin-top: 18px;
   text-align: center;
}

.titmerc img{
   float: right !important;
  
   margin-right:25px;
}


