/* 
    General Styles
*/
.navpad {
    padding-bottom: 10px;
}
 
/* 
    Vista contacto
*/

.cardformulario { 
    background-color: #3f6fd9;
    width: 250px;
    height: 450px;
    margin-left: 0;
    color: white;

}
.cardinfo { 
    background-color: white ;
    width: 750px;
    height: 450px;
    color: #3f6fd9;
    margin-left: 50px;

}

.buttforms {
    background-color: white;
    color: #3f6fd9;
    margin: auto;
    display: block;

}
.cardimg {
    object-fit: cover;
    display: block;
    width: 700px;
    height: 400px ;
}
/* 
    Fin contacto
*/

.buttonspace {
    padding: 5px;
    margin: 2px;
}

.tabpadding {
    padding-left: 10%;

}
.navpillsclass {
    padding-top: 10px;
}

.posTit{
text-align: center;
margin: auto;
}

#clasesDisp{
margin: auto;
}
