/* 
    General Styles
*/
.navpad {
    padding-bottom: 10px;
}

.contactcus {
    padding-top: 5%;
}

.buttonspace {
    padding: 5px;
    margin: 2px;
}

.tabpadding {
    padding-left: 10%;

}
.navpillsclass {
    padding-top: 10px;
}