
.navcus {
    border: 1px solid white;
    border-radius: 15px;
    background-color: white;
    margin-top: 5px;

}

.botonesnav { border-right: 1px solid #3F6FD9;
    margin-right: 5px;
    color: #3F6FD9;
    height: 25px;
    width: fit-content;
    padding-right: 7px;


}

.botones { border-radius: 1px solid #3F6FD9;
    color: white;
    background-color: #3F6FD9 ;
    height: fit-content;
    width: fit-content;
    margin-bottom: 15px;
}


.colortexto {
color: #3F6FD9;
 ;
}
